@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(71, 181, 87, var(--gradient-opacity));
  --secondary-color: rgba(16, 87, 27, var(--gradient-opacity));
  --accent-color: rgba(25, 99, 45, var(--gradient-opacity));
}
